/* Reset styles */
html, body {
    height: 100%;
    margin: 0;
    font-size: 16px; 
}

.message {
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 90%; 
    width: 100%;
    overflow: hidden; 
}

.message__header {
    text-align: center;
}

.message__title {
    font-size: 1.5rem; 
    color: #333;
    margin-top: 0.5rem;
}

.message__body {
    flex-grow: 1;
    overflow-y: auto; 
    background-color: #fff;
    border-radius: 0.5rem;
}

.request-container {
    display: flex;
    flex-direction: column;
}


@media (max-width: 768px) {
    .message {
        padding: 1.5rem; /* Reduce padding for smaller screens */
        margin: 1rem; /* Adjust margins */
    }

    .message__title {
        font-size: 1.25rem; /* Smaller title for smaller screens */
    }

    .message__body {
        padding: 0.75rem; /* Reduce padding for body */
    }
}
