.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 2rem 2.5rem;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* For dropdown positioning */
}

.navbar-logo img {
  height: 5rem; /* Responsive height */
  cursor: pointer;
}

.navbar-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow menu items to wrap */
  transition: all 0.3s ease-in-out; 
  margin-top: 2rem;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 1.0rem;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-menu li {
  position: relative;
  padding: 0.5rem;
}

.navbar-menu li a {
  color: #01080a;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
}

.navbar-menu li a:hover {
  color: #dbae34;
  text-decoration: none;
}

.navbar-menu li a.active {
  color: #ffd200;
  font-weight: bold;
}

.logout-button {
  background-color: #f0f0f0;
  color: black;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #ffd200;
}

/* Responsive Styles */
@media  screen and (max-width: 600px)   {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .navbar-logo {
    order: 1;
  }

  .navbar-logo img {
    height: 4rem; 
  }

  .navbar-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 auto; /* Center the toggle button */
    order: 0;
  }

  .navbar-toggle:focus {
    outline: none;
  }

  .navbar-toggle .bar {
    display: block;
    width: 2rem;
    height: 0.25rem;
    margin: 0.4rem auto;
    background-color: black;
    transition: all 0.3s ease;
  }

  .navbar-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(0.5rem, 0.5rem);
  }

  .navbar-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(0.5rem, -0.5rem);
  }

  .navbar-links {
    display: none; 
    flex-direction: column; /* Stack menu items vertically */
    width: 100%; /* Full width */
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .navbar-links.show {
    display: flex; /* Show dropdown on toggle */
  }

  .navbar-menu {
    flex-direction: column;
    gap: 1rem;
  }

  .navbar-menu li a {
    font-size: 1.2rem;
    text-align: left;
    padding: 0.5rem 1rem;
  }

  .navbar-action {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Take up the full row width */
    align-items: center;
    margin-bottom: 1rem; /* Space below */
  }

  .logout-button {
    font-size: 1rem;
    order:2;
  }
}

@media screen and (min-width:600px) and (max-width: 1400px) {
  .navbar {
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    display: flex;
    }

    .navbar-toggle {
      order: 0; /* Move toggle button to the left end */
      margin-right: auto; /* Ensure it stays on the left */
      border: none;
      margin-left: 1rem;
    }
  
    .navbar-logo {
      order: 1; /* Move logo to the center */
      margin: 0 auto; /* Center the logo */
    }
  
    .navbar-logo img {
      height: 4rem; 
    }
  

  .navbar-toggle:focus {
    outline: none;
  }

  .navbar-toggle .bar {
    display: block;
    width: 2rem;
    height: 0.25rem;
    margin: 0.4rem auto;
    background-color: black;
    transition: all 0.3s ease;
  }

  .navbar-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(0.5rem, 0.5rem);
  }

  .navbar-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(0.5rem, -0.5rem);
  }

  .navbar-links {
    display: none; 
    flex-direction: column; /* Stack menu items vertically */
    width: 100%; /* Full width */
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .navbar-links.show {
    display: flex; /* Show dropdown on toggle */
  }

  .navbar-menu {
    flex-direction: column;
    gap: 1rem;
  }

  .navbar-menu li a {
    font-size: 1.2rem;
    text-align: left;
    padding: 0.5rem 1rem;
  }

  .navbar-action {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Take up the full row width */
    align-items: center;
    margin-bottom: 1rem; /* Space below */
  }

  .logout-button {
    margin-left: auto; /* Push to the far right */
    font-size: 1rem;
    order : 2; 
  }
}
