/* Container for overall user management section */
.user-management {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Title styling */
.user-management h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Search input and Add User button container */
.search-and-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 20px;
}

/* Search input styling */
.search-input {
  width: 70%;
  border: 1px solid #ccc;
  margin-right: 10px;
}

/* Add User button styling */
.add-user-btn {
  padding: 10px 20px;
  font-size: 16px;
  width: 50%;
  background-color: #ffd200;
  color: black;
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.add-user-btn:hover {
  background-color: #ffd0009e;
}

/* Table styling */
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.user-table th {
  background-color: #f2f2f2;
}

/* Action button styling */
.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #555;
}

/* Dropdown menu styling */
.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 5px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  color: #333;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}

/* Modal overlay and content styling */
.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}

.close-btn {
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  float: right;
}

.close-btn:hover {
  color: #000;
}
