*{
  font-family: 'Playfair Display', serif;
}
.user-management-container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 95%;
  width: 100%;
  overflow: hidden;
  padding: 1rem;
}

.user-management-container h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.search-and-add {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
}

.search-input {
  flex-grow: 1;
  margin-right: 1rem;
  border: 0.1rem solid #ccc;
  padding: 0.8rem;
  font-size: 1.6rem;
}

.add-user-btn {
  flex-shrink: 0;
  background-color: #ffd200;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  width: 50%;
  border-radius: 4px;
}

.add-user-btn:hover {
  background-color: #ffd0009e;
}

/* Table container with scrolling */
.user-table-container {
  width: 100%;
  max-height: 60vh; 
  overflow: auto; 
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem; /* Reduced font size */
  min-width: 600px; /* Reduced min-width */
}

.user-table th,
.user-table td {
  padding: 0.5rem; /* Reduced padding */
  text-align: left;
  border: 0.05rem solid #ddd; /* Reduced border thickness */
}

.user-table th {
  background-color: #f2f2f2;
  font-size: 1rem; /* Reduced font size */
}


/* Action button styling */
.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  color: #555;
}

.dropdown-menu {
  background-color: white;
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  box-shadow: 0rem 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  padding: 1rem;
  cursor: pointer;
  color: #333;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}

/* Modal Styling */
.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 50rem;
  width: 100%;
}

.close-btn {
  color: #aaa;
  font-size: 2.4rem;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  float: right;
}

.close-btn:hover {
  color: #000;
}

/* Mobile and Tablet Responsiveness */

/* Medium Screens */
@media (max-width: 768px) {
  .user-management-container {
    padding: 1.5rem;
  }

  .search-and-add {
    flex-direction: column;
    gap: 1.5rem;
  }

  .add-user-btn {
    width: 100%;
    padding: 1rem;
  }
  .user-table-container {
    width: 100%;
    max-height: 60vh; 
    overflow: auto; 
  }

  .user-table {
    font-size: 0.9rem; /* Smaller font size for medium screens */
  }

  .user-table th,
  .user-table td {
    padding: 1rem; /* Reduced padding for smaller screens */
  }

  .modal-content {
    padding: 1.5rem;
  }
}

/* Small Screens */
@media (max-width: 480px) {
  .user-management-container {
    padding: 1rem;
  }

  .search-input {
    font-size: 1.4rem;
    padding: 0.8rem;
  }

  .add-user-btn {
    font-size: 1.4rem;
  }

  .action-btn {
    font-size: 1.4rem;
  }
  .user-table-container {
    width: 100%;
    max-height: 60vh; 
    overflow: auto; 
  }

  .user-table {
    font-size: 0.8rem; 
  }

  .user-table th,
  .user-table td {
    padding: 0.6rem; 
  }

  .modal-content {
    max-width: 90%;
    padding: 1rem;
  }

  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.5); 
  }

  .close-btn {
    font-size: 2rem; /* Smaller close button */
  }
}
