/* index.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

.layout > .navbar {
  height: 15%; /* Navbar occupies 20% of the screen height */
  background-color: #fff; /* Example background color for the Navbar */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout > .content {
  height: 85%; /* Content occupies the remaining 80% */
  overflow-y: auto; /* Allows scrolling if the content overflows */
  background-color: #f4f4f4; 
}
